# =========================
# Ambiente
# =========================
.env
.env.*
*.env

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# =========================
# Django
# =========================
db.sqlite3
staticfiles/
media/

# Migrações compiladas
*.mo

# =========================
# Virtualenv
# =========================
venv/
.env/
.venv/

# =========================
# Docker
# =========================
*.pid
*.sock

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db